.App {
  text-align: center;
  background-color: '#6a00a4';
  margin-top: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list-items{
  list-style-type: none; 
  display: flex;
  margin: 4%;


  

}

.content{
  display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    text-align: center;

    min-width: 90%;;
}
.content li {
  padding: 2px;
    word-wrap: break-word;
    text-align: center;
    margin-left: 10px;
    justify-content: center;
}


.nameList{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 25%;
  text-align: center;

}
.descList{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 50%;
  
  
}
.dateList{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 25%;

}
.action-btns{
  display: flex;
  flex-direction: row;
  
}
.action-btns button{
  border: none;
  padding: 5px 5px;
  text-align: center;
  width: 4%;
  color: white;
  margin: 3px;
  justify-content: center;
  text-align: center;
}
.delete-btn{
  background-color: red;
}
.edit-btn{
  background-color: blue
}
.completed-btn{
  background-color: green;
}

@media (refers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.action-btns button{
  max-height: 30px;
  width: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
