body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}
input:focus
{
  outline: none;
  border-bottom: 2px solid rgb(5, 175, 175);
  
}

.submit{
  border: none;
  padding: 15px 0;
  text-align: center;
  width: 8%;
  background-color: #5608bd;
  color: white;
  
}
button:hover{
  outline: 1px solid black; 
  cursor: pointer;

}

label{
  float: left;
  position: absolute;
  margin-left: 0%;
  opacity: 50%;
}